/* COLORS */ 
$black:#333;
$gray-dark:#666;
$gray:#999;
$gray-light:#ccc;
$gray-extra_light:#eee;

$ui-red:#CC3D3D;
$ui-green: #2e8540; // from https://standards.usa.gov/components/colors/
$ui-yellow: #fdb81e; // from https://standards.usa.gov/components/colors/

$bodytext:14px;

$three: 300px;
$four: 400px;
$five: 500px;
$six: 600px;
$eight: 800px; 
$nine: 900px; 
$ten: 1000px;
$eleven: 1120px;
$twelve: 1200px;
$thirteen: 1300px;
$fourteen: 1400px;


// Sets responsive breakpoints

@mixin r($width) {
  @if $width == 300px {
    @media all and (min-width: $three) {
      @content;
    }
  }
  @else if $width == 400px {
    @media all and (min-width: $four) {
      @content;
    }
  }
  @else if $width == 500px {
    @media all and (min-width: $five) {
      @content;
    }
  }
  @else if $width == 600px {
    @media all and (min-width: $six) {
      @content;
    }
  }
  @else if $width == 800px {
    @media all and (min-width: $eight) {
      @content;
    }
  }
  @else if $width == 900px {
    @media all and (min-width: $nine) {
      @content;
    }
  }
  @else if $width == 1000px {
    @media all and (min-width: $ten) {
      @content;
    }
  }
  @else if $width == 1120px {
    @media all and (min-width: $eleven) {
      @content;
    }
  }
  @else if $width == 1200px {
    @media all and (min-width: $twelve) {
      @content;
    }
  }
  @else if $width == 1300px {
    @media all and (min-width: $thirteen) {
      @content;
    }
  }
  @else if $width == 1400px {
    @media all and (min-width: $fourteen) {
      @content;
    }
  }
} 

// creates clearfix

@mixin clearfix {
  &:before, &:after {
    content: "";
    display:table;
  } 
  &:after {
    clear:both;
  }
}

//creates stroke
@mixin text-stroke($width, $color) {
  text-shadow:
    -1*$width -1*$width 0 $color,
    $width -1*$width 0 $color,
    -1*$width $width 0 $color,
    $width $width 0 $color;
}

// box shadow
@mixin box-shadow($horizontal: 1px, $vertical: 2px, $blur: 2px, $color: rgba(0, 0, 0, 0.3)) {
  -webkit-box-shadow: $horizontal $vertical $blur $color;
  -moz-box-shadow: $horizontal $vertical $blur $color;
  box-shadow: $horizontal $vertical $blur $color;
}

html {
	font-size:14px;
  font-family:Arial, sans-serif;
  box-sizing:border-box;
  font-weight:normal;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-weight:normal;
}

body {
	font-size:14px;
	color:#555;
	line-height:1;
  box-sizing:border-box;
  font-weight:normal;
}

p, h2, h2, h3, h4, h5, ul, ol {margin-top:0;}

h1, h2, h3 {
  max-width:500px;
  a {text-decoration:none;}
}

h2 {}

h4 {}

h5 {}

p {
  max-width:500px;
  margin-top:0;
  a {text-decoration:underline;}
}

a {
  color:inherit;
  text-decoration:none;
}

ul {
  list-style: disc;
  padding:0;
}

ol {
  list-style: numeral;
  margin-left:20px;
}

li {
  margin-bottom:10px;
}

button {
  line-height:1;
  padding:10px 20px;
  font-weight:bold;
  font-family:inherit;
  background-color:#666;
  color:#fff;
  border-radius:.3rem;
  border:none;
  font-size:14px;
  display:block;
  cursor:pointer;
}

.btn {
  
  line-height:1;
  padding:10px 20px;
  font-weight:bold;
  font-family:inherit;
  background-color:#666;
  color:#fff;
  border-radius:.3rem;
  border:none;
  font-size:14px;
  display:table;
  cursor:pointer;
}

button:hover {
  background-color:#333;
}

blockquote {
  padding-left:5rem;
}

header {}

nav {
  li {list-style:none; float:left;}
  a {text-decoration:none;}
  ul {margin-left:0;}
}

section {}

footer {
  clear:both;
}

.box {
  border:solid 1px #eee;
  border-radius:5px;
  padding:25px;
}


// ANIMATIONS
// bounce 
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}
@-webkit-keyframes bounce-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes bounce-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
.bounce {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.bounce, .bounce:hover, .bounce:focus, .bounce:active {
  -webkit-animation-name: bounce-sink, bounce;
  animation-name: bounce-sink, bounce;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}



// THE GRID
// source: http://inspirationalpixels.com/tutorials/grid-system-with-sass
// The Grid with no gutter (PREFERRED), can create gutter by making inner div
// made responsive via: https://www.w3schools.com/css/css_rwd_mediaqueries.asp



[class*="col"] {
  width: 100%;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  float:left;
}

@media all and (min-width:$nine) {

  .col-1 {width:8.33333%;} 
  .col-2 {width:16.66666%;}
  .col-3 {width:24.99999%;}
  .col-4 {width:33.33333%;}
  .col-5 {width:41.66666%;}
  .col-6 {width:49.99999%;}
  .col-7 {width:58.33333%;}
  .col-8 {width:66.66666%;}
  .col-9 {width:74.99999%;}
  .col-10 {width:83.33333%;}
  .col-11 {width:91.66666%;}
  .col-12 {width:100%;}
  // use to create five-spreads
  .colfive {width:20%;}
}
