@import 'normalize';
@import 'basics';

$ssw-red: #dd2d26;
$ssw-red_dark: #c30; 

html, body {
	padding:0;
	margin:0;
}

h1, h2, p {
	font-family:"adobe-caslon-pro", "adobe-caslon-pro", "Georgia", serif;
	width: 100%;
	max-width: 600px;
	line-height:1.5;
	color:#333;
}

h1 {
	font-size:42px;
	font-weight:700;
	margin-bottom:5px;
	color: #333;//$ssw-red;
	line-height:1;

	//text-shadow: 1px 1px #eee;
	@include r($eight) {
		font-size:56px;
		margin-left:-7px;
	}
}

h2 {
	font-style:italic;
	font-size:22px;
	margin-bottom:14px;
	margin-left:7px;
	color: $ssw-red;//#333;
	@include r($eight) {
		font-size: 18px;
	}
}

h3 {
	font-family:"franklin-gothic-urw", "Geneva", sans-serif;
	font-size: 14px;
	font-weight:bold;
	color:#666;
	text-transform:uppercase;
	margin-left:7px;
}

h4 {
	font-family:"franklin-gothic-urw", "Geneva", sans-serif;
	margin-bottom:20px;
	font-size: 12px;
	color:#666;
	text-transform:uppercase;
	font-weight:normal;
	@include r($eight) {
		margin-bottom:35px;
	}
}

p {
	margin-left:0;
	margin-right:0;
	padding-left:15px;
	padding-right:15px;
	font-size:18px;
	margin-bottom:25px;
	@include r($six) {
		margin-left: auto;
		margin-right:auto;
	}
}

header {
	height:100vh;
	background-position: 90% 50%; 
	background-size: cover;
	position:relative;
	background-image:url("../../img/dist/node.jpg");
	&:before {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		//background: linear-gradient(to right, rgba(255, 255, 255, .9), rgba(255, 255, 255, .2) 30%);
		background:#fff;
		opacity:.75;
		content:"";
		@include r($eight) {
			opacity:0;
		}
	}
	@include r($eight) {
		background-position:100% 50%;
	}
	#ascii {
		display:none;
		width:1000px;
		height:500px;
		background:url("../../img/dist/ascii_hed2.png");
		background-size:100% auto;
		background-repeat:no-repeat;
		position:absolute;
		bottom:40px;
		left:20px;
		opacity:.8;
	}
	.text {
		position:absolute;
		bottom:0;
		left:0;
		padding-left:20px;
		padding-right:20px;
		padding-bottom:40px;
		@include r($eight) {
			padding-left:40px;
			padding-bottom:90px;
		}
	}
	.branding {
		opacity:.5;
		width:235px;
		height:33px;
		position:absolute;
		top:30px;
		left:30px;
		background:url("../../img/dist/logo-ssw.png");
		background-size:100% auto;
		background-repeat:no-repeat;
	}
}

main {
	padding-top:80px;
	border-top:solid 3px $ssw-red_dark;
	padding-bottom:80px;
	.img-wrapper {
		width: 100%;
		padding-bottom:20px;
	}
	img {
		width: 100%;
		//margin-bottom:20px;
	}
	small {
	//	float:left;
		//position:relative;
		margin:0;
		padding-top:0;
		padding-right:0;
		padding-bottom:0;
		padding-left:5px;
		color:#999;
		@include r($six) {
			padding-left:0;
		}
	//	&:after {
	//		clear:both;
	//		content:"";
	//	}
	}
	.left {
		@include r($six) {
			float:left;
			padding-right:40px;
			padding-bottom:40px;
			margin-left:10%;
		}
	}
	.full {
		width:100%;
		margin-bottom:40px;
		small {
			padding-left:5px;
		}
	}
	#charlie {
		@include r($six) {
			width:400px;
		}
	}
	#shared_air {
		@include r($six) {
			width:600px;
			margin-left:5%;
		}
	}
	#interactive {
		display:none;
		@include r($eight) {
			display:block;
			width:800px;
			height:500px;
			background:#666;
			margin-bottom:40px;
			margin-top:10px;
			margin-left:auto;
			margin-right:auto;
		}
	}
	.drop {
		float:left;
		display:inline-block;
		font-size:78px;
		color:$ssw-red;
		padding-top:45px;
		padding-right:26px;
		padding-left:22px;
		padding-bottom:0;
		line-height:.2;
	}
	.break {
		color: $ssw-red;
		text-align:center;
	}
	.blockquote {
		width: calc(100% - 30px);
		border-top: solid 1px #eee;
		border-bottom: solid 1px #eee;
		padding-top:30px;
		padding-bottom:30px;
		margin-bottom:30px;
		margin-top:30px;
		margin-right:15px;
		margin-left:15px;
		font-family: "adobe-caslon-pro", "adobe-caslon-pro", "Georgia", serif;
		font-size:64px;
		font-weight:bold;
		text-align:center;
		@include r($six) {
			width:300px;
			border-top:none;
			border-bottom:none;
			margin-right:10%;
			float:right;
			position:relative;
			padding-left:40px;
			padding-bottom:40px;
			padding-top:40px;	
		}
		small {
			font-family:"franklin-gothic-urw", "Geneva", sans-serif;
			font-size:16px;
			text-align:center;
			padding-left:60px;
			display:block;
		}
	}
	small.note {
		display:block;
		max-width:600px;
		margin: 0 auto;
		font-family:"adobe-caslon-pro", "adobe-caslon-pro", "Georgia", serif;
		font-style:italic;
		font-size:16px;
		color:#888;
		line-height:1.25;
		margin-top:20px;
		padding-left:15px;
		padding-right:15px;
	}
}




footer {
	text-align:center;
	color:#fff;
	background:#333;
	padding: 60px 40px;
	.branding {
		width:250px;
		height:37px;
		margin-left: auto;
		margin-right:auto;
		margin-bottom:20px;
		background:url("../../img/dist/logo-ssw.png");
		background-size:100% auto;
		background-repeat:no-repeat;
		opacity:.5;
	}
	ul {
		list-style:none;
		margin-bottom:20px;
		li {
			display:inline;
			margin-right:20px;
		}
	}
}