@import 'normalize';
@import 'basics';

$ssw-red: #dd2d26;
$ssw-red_dark: #c30; 

html, body {
	padding:0;
	margin:0;
}

article {
	perspective: 1px;
	transform-style: preserve-3d;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
}

.parallax {
	display: flex;
	flex: 1 0 auto;
	position: relative;
	height: 750px; /* Fallback for older browsers */
	height: 100vh;
	transform: translateZ(-1px) scale(2);
	z-index: -1;
	background-position: 90% 50%; 
	background-size: cover;
}

.content {
	display: block;
	position: relative;
	background-color: white;
	z-index: 1;
}

.full-image {
	background-image:url("../../img/dist/lab.jpg");
	background-position: 50% 50%;

	small {
		position: absolute;
		bottom: 5%;
		left: 0;
		padding: 8px;
		background-color: rgba(255,255,255,0.7);
	}
}

@media(max-width: 800px) {
	article {
		overflow: auto;
		overflow-x: hidden;
		height: inherit;
	}
	.parallax {
		transform: none;
	}
	.full-image {
		small {
			bottom: 0;
		}
	}
}

h1, h2, p {
	font-family:"adobe-caslon-pro", "adobe-caslon-pro", "Georgia", serif;
	width: 100%;
	max-width: 600px;
	line-height:1.5;
	color:#333;
}

h1 {
	font-size:42px;
	font-weight:700;
	margin-bottom:5px;
	color: #333;//$ssw-red;
	line-height:1;

	//text-shadow: 1px 1px #eee;
	@include r($eight) {
		font-size:56px;
		margin-left:-7px;
	}
}

h2 {
	font-style:italic;
	font-size:22px;
	margin-bottom:14px;
	margin-left:7px;
	color: $ssw-red;//#333;
	@include r($eight) {
		font-size: 18px;
	}
}

h3 {
	font-family:"news-gothic-std", "Geneva", sans-serif;
	font-size: 14px;
	font-weight:bold;
	color:#666;
	text-transform:uppercase;
	margin-left:7px;

	a {
		font-weight:bold;

		&:hover {
			color: #539fbb;
		}
	}
}

h4 {
	font-family:"news-gothic-std", "Geneva", sans-serif;
	margin-bottom:20px;
	font-size: 12px;
	color:#666;
	text-transform:uppercase;
	font-weight:normal;
	@include r($eight) {
		margin-bottom:35px;
	}
}

p {
	margin-left:0;
	margin-right:0;
	padding-left:15px;
	padding-right:15px;
	font-size:18px;
	margin-bottom:25px;
	@include r($six) {
		margin-left: auto;
		margin-right:auto;
	}
}

a, p a {
	color: #539fbb;
	text-decoration: none;
}

header {
	background-image:url("../../img/dist/node.jpg");
	&:before {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		//background: linear-gradient(to right, rgba(255, 255, 255, .9), rgba(255, 255, 255, .2) 30%);
		background:#fff;
		opacity:.75;
		content:"";
		@include r($eight) {
			opacity:0;
		}
	}
	@include r($eight) {
		background-position:100% 50%;
	}
	#ascii {
		display:none;
		width:1000px;
		height:500px;
		background:url("../../img/dist/ascii_hed2.png");
		background-size:100% auto;
		background-repeat:no-repeat;
		position:absolute;
		bottom:40px;
		left:20px;
		opacity:.8;
	}
	.text {
		position:absolute;
		bottom:0;
		left:0;
		padding-left:20px;
		padding-right:20px;
		padding-bottom:40px;
		@include r($eight) {
			padding-left:40px;
			padding-bottom:90px;
		}
	}
	.branding {
		opacity:.5;
		width:235px;
		height:33px;
		position:absolute;
		top:30px;
		left:30px;
		background:url("../../img/dist/logo-ssw.png");
		background-size:100% auto;
		background-repeat:no-repeat;
	}
	.branding:hover {
		opacity: 1;
	}
}

main:first-of-type {
	border-top:solid 3px $ssw-red_dark;
}

main {
	display: block;
	position: relative;
	background-color: white;
	z-index: 1;
	padding-top:80px;
	padding-bottom:80px;
	.img-wrapper {
		width: 100%;
		padding-bottom:20px;
	}
	img {
		width: 100%;
		//margin-bottom:20px;
	}
	small {
	//	float:left;
		//position:relative;
		margin:0;
		padding-top:0;
		padding-right:0;
		padding-bottom:0;
		padding-left:5px;
		color:#999;
		@include r($six) {
			padding-left:0;
		}
	//	&:after {
	//		clear:both;
	//		content:"";
	//	}
	}
	.left {
		@include r($six) {
			float:left;
			padding-right:40px;
			padding-bottom:40px;
			margin-left:10%;
		}
	}
	.full {
		width:100%;
		margin-bottom:40px;
		small {
			padding-left:5px;
		}
	}
	#charlie {
		@include r($six) {
			width:400px;
		}
	}
	#shared_air {
		@include r($six) {
			width:600px;
			margin-left:5%;
		}
	}
	#map {
		margin: 48px 0;
		text-align: center;
		img {
			height: 700px;
			height: 100vh;
			width: auto;
		}
	}
	.drop {
		float:left;
		display:inline-block;
		font-size:78px;
		color:$ssw-red;
		padding-top:45px;
		padding-right:26px;
		padding-left:22px;
		padding-bottom:0;
		line-height:.2;
	}
	.break {
		color: $ssw-red;
		text-align:center;
	}
	.break.end {
		margin-top: 25px;
	}
	blockquote {
		width: calc(100% - 30px);
		border-top: solid 1px #eee;
		border-bottom: solid 1px #eee;
		padding-top:30px;
		padding-bottom:30px;
		margin-bottom:30px;
		margin-top:30px;
		margin-right:15px;
		margin-left:15px;
		font-family: "adobe-caslon-pro", "adobe-caslon-pro", "Georgia", serif;
		font-size:64px;
		font-weight:bold;
		text-align:center;
		quotes: "\201C""\201D""\2018""\2019";
		@include r($six) {
			width:300px;
			border-top:none;
			border-bottom:none;
			margin-right:10%;
			float:right;
			position:relative;
			padding-left:40px;
			padding-bottom:40px;
			padding-top:40px;	
		}
		small {
			font-family:"news-gothic-std", "Geneva", sans-serif;
			font-size:16px;
			text-align:center;
			padding-left:60px;
			display:block;
		}
		&:before, &:after {
			position: absolute;
			color: #999;
			font-size: 2em;
			line-height: 0.3em;
		}
		&:before {
			left: 0.2em;
			content: open-quote;
			vertical-align: -0.4em;
		}
		&:after {
			right: -0.2em;
			bottom: -0.3em;
			content: close-quote;
			vertical-align: 0.4em;
		}
	}
	small.note {
		display:block;
		max-width:600px;
		margin: 0 auto;
		font-family:"adobe-caslon-pro", "adobe-caslon-pro", "Georgia", serif;
		font-style:italic;
		font-size:16px;
		color:#888;
		line-height:1.25;
		margin-top:20px;
		padding-left:15px;
		padding-right:15px;
		text-align: center;
	}
}

@media(max-width: 600px) {
	main blockquote {
		width: 100%;
		text-align: left;
		margin-left: 0;
		margin-right: 0;
		padding: 60px;
		padding-top: 80px;

		small {
			padding-left: 60px;
			text-align: left;
		}

		&:after {
			display: none;
		}
	}
}

.support {
	font-style: italic;
	text-align: center;
}

footer {
	text-align:center;
	background: #f5f5f5;
	padding: 60px 40px;

	ul, p {
		color: #999;
		font-size: 13px;
	}
	ul {
		font-family: "news-gothic-std", "Geneva", sans-serif;
		font-weight: 500;
		text-transform: uppercase;
		list-style:none;
		margin-bottom:20px;
		li {
			display:inline-block;
			margin-right:20px;

			a:hover {
				color: #539fbb
			}
		}
	}
	p {
		text-align: center;
		font-family: "adobe-caslon-pro", "adobe-caslon-pro", "Georgia", serif;
		font-weight: normal;
	}
}
