@import 'normalize';
@import 'basics';

$ssw-red: #dd2d26;
$ssw-red_dark: #c30; 

html, body {
	padding:0;
	margin:0;
}

h1, h2, p {
	font-family:"adobe-caslon-pro", "adobe-caslon-pro", "Georgia", serif;
	width: 100%;
	max-width: 600px;
	line-height:1.5;
	color:#333;
}

h1 {
	font-size:29px;
	font-weight:700;
	margin-bottom:20px;
	color: #333;//$ssw-red;
	line-height:1;
	margin-left:-7px;
	text-shadow: 1px 1px #eee;
	@include r($eight) {
		font-size:74px;
	}
}

h2 {
	font-style:italic;
	font-size:18px;
	margin-bottom:20px;
	color:#333;
	@include r($eight) {
		font-size: 22px;
	}
}

h3 {
	font-family:"franklin-gothic-urw", "Geneva", sans-serif;
	font-size: 14px;
	font-weight:bold;
	color:#666;
	text-transform:uppercase;
}

h4 {
	font-family:"franklin-gothic-urw", "Geneva", sans-serif;
	font-size: 12px;
	font-weight:normal;
	color:#666;
	text-transform:uppercase;
	margin-bottom:35px;
}

p {
	margin-left: auto;
	margin-right:auto;
	margin-bottom:25px;
	font-size:18px;
}

header {
	height:100vh;
	border-top:solid 5px #333;
	background:#eee;
	position:relative;
	background:url("../../img/dist/node.jpg");
	background-size:cover;
	&:before {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		//background: linear-gradient(to right, rgba(255, 255, 255, .9), rgba(255, 255, 255, .2) 30%);
		content:"";
	}
	#ascii {
		display:none;
		width:1000px;
		height:500px;
		background:url("../../img/dist/ascii_hed2.png");
		background-size:100% auto;
		background-repeat:no-repeat;
		position:absolute;
		bottom:40px;
		left:20px;
		opacity:.8;
	}
	.text {
		position:absolute;
		bottom:40px;
		left:40px;
	}
	.branding {
		opacity:.5;
		width:250px;
		height:37px;
		position:absolute;
		top:30px;
		left:30px;
		background:url("../../img/dist/logo-ssw.png");
		background-size:100% auto;
		background-repeat:no-repeat;
	}
}

main {
	padding-top:80px;
	border-top:solid 3px #666;
}

#interactive {
	width:100%;
	height:700px;
	background:#666;
	margin-bottom:40px;
	margin-top:10px;
}


footer {
	text-align:center;
	color:#fff;
	background:#333;
	padding: 60px 40px;
	.branding {
		width:250px;
		height:37px;
		margin-left: auto;
		margin-right:auto;
		margin-bottom:20px;
		background:url("../../img/dist/logo-ssw.png");
		background-size:100% auto;
		background-repeat:no-repeat;
		opacity:.5;
	}
	ul {
		list-style:none;
		margin-bottom:20px;
		li {
			display:inline;
			margin-right:20px;
		}
	}
}